.menuHeader {
    list-style: none;
    display: flex;
    padding: 0px;
    li {
        margin-left: 20px;
        min-width: 70px;
    }
}

@media (max-width: 800px) {
    .menuHeader {
        display: none;
    }
}

.sidebar {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 100%;
    min-width: 200px;
    
    li {
        border-bottom: 1px solid #ececec;
        min-width: 70px;
        padding: 20px;
        &:hover {
            background-color: #efefef;
        }
    }
}
